$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background: #003B60;
}

#main_navigation {
  position: fixed;
  margin: 50px 0 0;
  left: calc(50vw - 585px);
  .container {
    border-radius: 5px;
  }
  h1 {
    @include make-sm-column(4);
  }
  ul {
    @include make-sm-column(8);
    float: right;
    text-align: right;
    margin-top: 30px;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 30px;
      a {
        font-size: 16px;
      }
    }
  }
}

.midnightHeader {
  &.default {
    .container {
      background: #ffffff;
    }
  }
  &.first {
    .container {
      background: #009900;
    }
    a {
      color: #222222;
    }
  }
  &.second {
    .container {
      background: #222222;
    }
    h1 {
      color: #c3325f;
    }
  }
  &.third {
    .container {
      background: #843534;
    }
    h1 {
      color: #111122;
    }
    a {
      color: #e1e100;
    }
  }
  &.fourth {
    .container {
      background: #c3325f;
    }
    h1 {
      color: #002339;
    }
    a {
      color: #ffffff;
    }
  }
  &.fifth {
    .container {
      background: #d58512;
    }
    a {
      color: #aa0000;
    }
  }
}

section {
  padding: 0 25% 100px;
  color: #0095F4;
  &:first-of-type {
    padding-top: 300px;
  }
  &:last-of-type {
    margin-bottom: 3000px;
  }
}
